header
  a(href='/')
    img.logo(src='/images/logo.png')

  nav
    if isLogin
      #my_ID= ID
      a(href='/upload') Upload
      a(href='/logout_process') Log out
    else
      a(href='/login') Log in
      a(href='/signup') Sign up
