extends layout

block head_content
  link(rel='stylesheet', href='/stylesheets/style.css')

block content
  include header.pug
  case sec_con
    when 'main'
      include section.pug
    when 'login'
      include sec_login.pug
    default
      include section.pug
